# package directories
node_modules
jspm_packages

# Terraform directories
.terraform
*.tfstate

# esbuild directories
.esbuild
.DS_Store
build

# extensions
.vscode
.idea
.claude*
plans

# coverage
coverage

# env
.env
.env.example

# tmp
tmp
