# Server and Application
fastapi==0.119.0
fastapi-mail==1.5.6
uvicorn[standard]==0.37.0
starlette==0.48.0
httpx==0.28.1
requests==2.32.3
tzdata==2025.2
python-dotenv==1.1.1
Werkzeug==3.1.3
PyJWT==2.11.0
gunicorn==25.1.0
python-multipart==0.0.20

# Email
postmarker==1.0

# Serialization and Validation
pydantic==2.12.2
pydantic-settings==2.11.0
pydantic_core==2.41.4
email-validator==2.3.0

# Report Generation Service
python-docx==1.2.0
reportlab==4.2.0

# Weather and Geocoding Service
openmeteo-requests==1.7.3
requests-cache==1.2.1
retry-requests==2.0.0

# For MongoDB
tqdm==4.67.1
pymongo==4.15.3
mongomock==4.3.0
numpy==2.2.6

# Testing
pytest==8.4.1
