# AWS TEST CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
ONMO_REGISTRY_PACKAGES=

API_TEST_SECRET=
ENVIRONMENT=

SERVICE_NAME=
REGION=

# GATEWAY CONFIG
DISABLE_DEFAULT_ENDPOINT=
THROTTLING_BURST_LIMIT=
THROTTLING_RATE_LIMIT=
CUSTOM_DOMAIN_NAMES=
BASE_PATH=

# LAMBDA ENVIRONMENT VARIABLES
AUTH_TRANSACTIONS_TABLE=
AUTH_CODES_TABLE=
AUTH_TOKENS_TABLE=
AUTH_REFRESH_TOKENS_TABLE=
AUTH_HASHES_TABLE=
AUTH_KEYS_TABLE=
USER_TABLE=
LEGACY_AUTH_TABLE=
LEGACY_RSA_TABLE=
LEGACY_AUTH_BACKUP_TABLE=
LEGACY_RSA_BACKUP_TABLE=
APR_INCREASES_TABLE=
RATE_LIMITING_TABLE=
ONMO_AUTH_URL=
ONMO_API_URL=
FRONTEND_URL=

APR_GATEWAY_ID=
CUSTOMER_CARE_GATEWAY_ID=
API_BROKER_GATEWAY_ID=
AUTHENTICATION_GATEWAY_ID=
CARD_SERVICE_OIDC_GATEWAY_ID=
ACCOUNT_SERVICE_OIDC_GATEWAY_ID=
CUSTOMER_SERVICE_OIDC_GATEWAY_ID=
REPAYMENT_SERVICE_GATEWAY_ID=
ALERT_SERVICE_OIDC_GATEWAY_ID=
TRANSACTION_SERVICE_OIDC_GATEWAY_ID=
DEVICE_CHANNEL_GATEWAY_ID=

LOGGING_LEVEL=
NON_CONFLICTING_SCOPES_PARAM=
EXCLUSIVE_SCOPES_PARAM=
AUTH_FLOW_SCOPES_PARAM=
SCOPE_TO_RESOURCE_MAP_PARAM=
SCOPE_TO_RESOURCE_MAP_URL_PARAM=
TOKEN_LIFETIMES_PARAM=
STAFF_ONMOUUIDS_PARAM=
APP_TESTER_LOGIN_CONFIG=
RATE_LIMITING_PARAM=
DOWNLOAD_APP_REDIRECT_URL_CONFIG=

NOTIFICATIONS_SFMC_SECRET_NAME=
NOTIFICATIONS_SFMC_TOKEN_URL=
NOTIFICATIONS_SFMC_COMMS_URL=
NOTIFICATIONS_SFMC_GRANT_TYPE=
NOTIFICATIONS_SFMC_CLIENT_ID=
NOTIFICATIONS_SFMC_ACCOUNT_ID=
NOTIFICATIONS_SFMC_EVENT_KEY_OTP=

POSTHOG_SECRET_NAME=
POSTHOG_NOTIFICATION_FLAG_KEY=

# AUTH SCOPES
APR_SCOPE=
CLM_SCOPE=
CUSTOMER_CARE_SCOPE=
LOAN_ACCOUNT_ID_SCOPE=
CREDIT_CARD_ACCOUNT_ID_SCOPE=
CREDIT_CARD_ID_SCOPE=
CUSTOMER_PROFILE_SCOPE=
SUPPORT_SERVICES_SCOPE=
AUTH_SERVICES_SCOPE=
CREDIT_CARD_ACCOUNT_SCOPE=
DIRECT_DEBIT_SCOPE=
DEBIT_CARD_ACCOUNT_SCOPE=
CREDIT_CARD_DETAILS_SCOPE=
CREDIT_CARD_ACTIVATION_SCOPE=
CREDIT_CARD_FREEZE_SCOPE=
CREDIT_CARD_UNFREEZE_SCOPE=
NAME_CHANGE_SCOPE=
EMAIL_ADDRESS_CHANGE_SCOPE=
MOBILE_NUMBER_CHANGE_SCOPE=
ADDRESS_CHANGE_SCOPE=
BIOMETRICS_CHANGE_SCOPE=
PASSCODE_CHANGE_SCOPE=
REPAYMENT_SCOPE=
FIRST_TIME_LOGIN_SCOPE=

# TEST SCOPES
TEST_OTP_STEP_EXTRA_SCOPE=
TEST_BIOMETRICS_STEP_EXTRA_SCOPE=
