# package directories
node_modules
jspm_packages

# Terraform directories
.terraform
*.tfstate

# esbuild directories
.esbuild
.DS_Store
build

# extensions
.vscode
.idea

# coverage
coverage

# env
.env

# tmp
tmp