# CODEOWNERS for kindling

* @kindling-tools/maintainers

/.github/                   @kindling-tools/release
/Dockerfile                 @kindling-tools/release
/deploy/                    @kindling-tools/release
/CHANGELOG.md               @kindling-tools/release

/internal/                  @kindling-tools/maintainers
/cmd/                       @kindling-tools/maintainers

/docs/                      @kindling-tools/docs
/README.md                  @kindling-tools/docs
/CONTRIBUTING.md            @kindling-tools/docs

/SECURITY.md                @kindling-tools/security
