<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <!--Uncomment for logging ALL HTTP request and responses-->
    <!--<logger name="io.gatling.http.ahc" level="TRACE" />-->
    <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
        <logger name="io.gatling.http.ahc" level="ERROR" />

    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>

    <appender name="SERVER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>[%-5level]-[%date{dd MMM yyyy;HH:mm:ss.SSS,UTC}]-[%logger{0}:%method:%line] - %msg %ex{full}%n
        </pattern>
    </encoder>
</appender>

<appender name="SERVER_CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="SERVER_CONSOLE"/>
    <includeCallerData>true</includeCallerData>
</appender>

<logger name="com.gap.customer.authentication" level="DEBUG" additivity="false">
    <appender-ref ref="SERVER_CONSOLE_ASYNC"/>
</logger>

<logger name="org.glassfish.jersey.servlet.WebComponent" level="OFF" additivity="false">
</logger>

<root level="WARN">
    <appender-ref ref="SERVER_CONSOLE_ASYNC"/>
</root>

</configuration>