**/node_modules
**/.next
**/dist
**/build
**/*.tsbuildinfo

.env
.env.local
.env.*.local

.git
.gitignore
.vscode
.idea
.DS_Store

courses
media
postgres-data

**/*.log
coverage
.turbo

README.md
docker-compose.yml
